@font-face {
  font-family: 'iconfont';
  src: url('./iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wancheng:before {
  content: "\e64b";
}

.icon-qiangdan:before {
  content: "\e645";
}

.icon-banshou_Line:before {
  content: "\e64e";
}

.icon-yunshuzhong:before {
  content: "\e658";
}

.icon-niwagongcheng:before {
  content: "\e638";
}

.icon-baojie:before {
  content: "\e661";
}

.icon-shuazi:before {
  content: "\e601";
}

.icon-banyunfei:before {
  content: "\e603";
}

.icon-bianji-gangbi:before {
  content: "\e6b5";
}

.icon-a-anquananquanmao:before {
  content: "\f172";
}

.icon-shuazi1:before {
  content: "\e651";
}

.icon-a-tongyonglei-shuazigeshishuaiconCommon_line_16_brush:before {
  content: "\e70e";
}

.icon-baojie1:before {
  content: "\e619";
}

.icon-comments:before {
  content: "\e609";
}

.icon-dianhua:before {
  content: "\e60f";
}

.icon-yijianfankui:before {
  content: "\e610";
}

.icon-map:before {
  content: "\e617";
}

.icon-remind:before {
  content: "\e624";
}

.icon-shalou:before {
  content: "\e630";
}

.icon-zaixiankefu:before {
  content: "\e631";
}

.icon-dingdan:before {
  content: "\e637";
}

.icon-dingdanyiwancheng:before {
  content: "\e63a";
}

.icon-dizhi:before {
  content: "\e63e";
}

.icon-laba:before {
  content: "\e644";
}

.icon-yiwanchengdingdan:before {
  content: "\e646";
}

.icon-shangmen:before {
  content: "\e64a";
}

.icon-gongren1:before {
  content: "\e650";
}

.icon-hammer-outline:before {
  content: "\eaed";
}

.icon-shangpin:before {
  content: "\f0df";
}

.icon-shouye3:before {
  content: "\f0ab";
}

.icon-wode1:before {
  content: "\f0b4";
}

.icon-fenlei:before {
  content: "\f0cd";
}

.icon-zhengjianqueren:before {
  content: "\e6c3";
}

.icon-a-ziyuan672:before {
  content: "\e797";
}

.icon-a-ziyuan696:before {
  content: "\e799";
}

.icon-yiqueren:before {
  content: "\e600";
}

.icon-duanlashuoming:before {
  content: "\e667";
}

.icon-shouye2:before {
  content: "\e643";
}

.icon-gongren:before {
  content: "\e64f";
}

.icon-tubiaoshangshengqushi:before {
  content: "\e790";
}

.icon-xunzhang:before {
  content: "\e796";
}

.icon-zhuan:before {
  content: "\e62f";
}

.icon-dianli:before {
  content: "\e649";
}

.icon-weixiu:before {
  content: "\e60e";
}

.icon-a-ziyuan4:before {
  content: "\e70d";
}

.icon-zanwushuju:before {
  content: "\e62e";
}

.icon-anquanbaozhang:before {
  content: "\e63c";
}

.icon-chizi_o:before {
  content: "\eb48";
}

.icon-xiaoqu:before {
  content: "\e640";
}

.icon-shouye:before {
  content: "\e698";
}

.icon-shangcheng:before {
  content: "\e69a";
}

.icon-shouye1:before {
  content: "\e69b";
}

.icon-wode:before {
  content: "\e6a2";
}

.icon-weidenglu:before {
  content: "\e6a3";
}

.icon-shangcheng1:before {
  content: "\e6b9";
}

.icon-xueyuan-faxian:before {
  content: "\e6bf";
}

.icon-xueyuan-faxian1:before {
  content: "\e6c0";
}

